@model IEnumerable<DoAnChuyenNganhConnection.Product>
@foreach (var item in Model)
{


    <div class="col-lg-3">
        <div class="categories__item set-bg" data-setbg="/Content/images/@item.Cover">
            <h5><a href="@Url.Action("Details","Product", new { id = @item.Id })">@item.Name</a></h5>
        </div>
    </div>
}

