@model IEnumerable<DoAnChuyenNganhConnection.Producer>
    <ul class="header__menu__dropdown">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index","Producer",new {id= @item.IdProducer})">@item.NameProducer</a></li>
        }
    </ul>
